{% extends 'home/layouts/base.html' %}
{% block content %}
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><!-- /.preloader -->
    <div class="page-wrapper">
        {% include 'home/layouts/nav.html' %}<!-- /.main-nav-one -->

        <section class="blog-one blog-grid-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-four__content">
                            <div class="block-title">
                                <p>Bienvenue sur mon Blog</p>
                            </div><!-- /.block-title -->
                        </div><!-- /.about-four__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-8">
                        <div class="row">
                            {% for post in posts %}
                            <div class="col-md-6">
                                <div class="blog-one__single">
                                    <div class="blog-one__image">
                                        <img src="{{ post.image.url }}" alt="" width="370" height="270">
                                        <div class="blog-one__date">
                                            <i class="far fa-calendar-alt"></i>
                                            {{ post.created_at|date:"d F, Y" }}
                                        </div><!-- /.blog-one__date -->
                                    </div><!-- /.blog-one__image -->
                                    <div class="blog-one__content">
                                        <h3><a href="news-details.html">{{ post.title }}</a></h3>
                                        <p>{{ post.paragraph_1|truncatewords:15 }}</p>
                                        <a href="javascript:void(0);" class="blog-one__link">Lire plus</a>
                                        <!-- /.blog-one__link -->
                                    </div><!-- /.blog-one__content -->
                                </div><!-- /.blog-one__single -->
                            </div><!-- /.col-md-6 -->
                            {% endfor %}
                        </div><!-- /.row -->
                        <div class="text-center d-flex justify-content-center">
                            <div class="post-pagination">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </div><!-- /.post-pagination -->
                        </div><!-- /.text-center d-flex justify-content-center -->

                    </div><!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="sidebar__single">
                                <h3 class="sidebar__title">Chercher</h3>
                                <form action="javascript:void(0);" class="sidebar__search">
                                    <input type="text" placeholder="Chercher...">
                                    <button type="submit"><i class="muzex-icon-search"></i></button>
                                </form>
                            </div><!-- /.sidebar__single -->
                            <div class="sidebar__single">
                                <h3 class="sidebar__title">Tags</h3>
                                <div class="sidebar__tags">
                                    <a href="javascript:void(0);">Expositions</a>
                                    <a href="javascript:void(0);">Dessin</a>
                                    <a href="javascript:void(0);">StreetArt</a>
                                    <a href="javascript:void(0);">Galerie</a>
                                    <a href="javascript:void(0);">Collection</a>
                                </div><!-- /.sidebar__tags -->
                            </div><!-- /.sidebar__single -->
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-one blog-grid-page -->

        <hr class="brand-divider" aria-hidden="true">
        {% include 'home/layouts/footer.html' %}<!-- /.site-footer --><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->

    {% include 'home/layouts/search.html' %}<!-- /.search-popup -->

    {% include 'home/layouts/side_content.html' %}<!-- /.side-menu__block -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    {% endblock content %}