<section class="cta-one" style="background-image: url(/static/home/assets/images/shapes/cta-bg-1-1.jpg);">
    <div class="container text-center">
        <h3>Plus de 100 Expositions!</h3>
        <p>Suivez-nous <a href="{% url 'expositions' %}">ici</a> pour voir les prochaines expositions.</p>
        <div class="cta-one__btn-block">
            <a href="javascript:void(0)" class="thm-btn cta-one__btn-one">Devenir membre</a><!-- /.thm-btn cta-one__btn-one -->
            <a href="{% url 'dessins_tirages' %}" class="thm-btn cta-one__btn-two">Achat en ligne</a><!-- /.thm-btn cta-one__btn-two -->
        </div><!-- /.cta-one__btn-block -->
    </div><!-- /.container -->
</section><!-- /.cta-one -->